* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial, sans-serif;
}

a {
    text-decoration: none;
    color: white
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.bodyi {
    position: relative;
    /* background-color: #c30005; */
    min-height: 3500px;
}

.gap {
    height: 40px;
    width: 100%;
}

.btn {
    margin-top: 8px;
    background-color: #c30005;
    padding: 11px 20px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

.btn:hover {
    background-color: #9C0004;
}

/* header */

.header {
    height: 133px;
    width: 100%;
    background-color: #353535;
}

.header-top {
    height: 80px;
    width: 100%;
    background-color: black;
}

.header-top-content {
    height: 100%;
    width: 1200px;
    margin: auto;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login {
    padding: 5px 0;
}

.header-text {
    color: #ffffffcc;
    font-weight: 700;
    font-size: 18px;
}

.header-text:hover {
    color: white;
}

.logo-img {
    height: 60px;
    width: 150px;
}

.cart {
    display: flex;
    align-items: center;
}

.cart-img {
    margin-left: 8px;
}

.header-menu {
    height: 53px;
    width: 100%;
    background-color: #dcdcdc;
}

.menu {
    height: 100%;
    width: 600px;
    margin: auto;
    background-color: #dcdcdc;
}

.menu ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.menu ul li {
    height: 53px;
    padding: 15px 0px 10px 0px;
}

.menu ul li:hover {
    border-bottom: solid 3px #c30005;
}

/* .active {
    border-bottom: solid 3px #c30005;
} */

.menu ul li a {
    color: black;
    font-weight: 700;
    font-size: 17px;
}

.banner {
    height: 500px;
    width: 1200px;
    margin: auto;

}

.slideshow {
    position: relative;
}

.mySlide {
    height: 500px;
    width: 1200px;
    display: none;
}

.bg1 {
    background-image: url("../img/slide-1.jpg");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.bg2 {
    background-image: url("../img/slide-2.jpg");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.slide-text {
    color: white;
    width: 540px;
    padding: 10px;
    position: absolute;
    top: 30%;
    font-size: 17px;
    text-align: justify;
}

.left5 {
    left: 5%;
}

.right5 {
    right: 4%;
}

.slide-text h1 {
    font-size: 60px;
    margin-bottom: 10px;
}



.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0px 9px 9px 0px;
}

.next {
    right: 0px;
    border-radius: 9px 0px 0px 9px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.slide-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}


/* .active1, */
.dot:hover {
    background-color: #717171;
}

.container {
    width: 1200px;
    min-height: 600px;
    /* margin: auto; */
}

.content-top {
    height: 430px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.col-sneaker {
    padding: 0px 15px 10px;
    width: 400px;
}

.col-sneaker:hover .box-sneaker {
    border: 1px solid black;
}

.box-sneaker {
    padding: 30px;
    height: 100%;
}

.img-title {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.img-title img {
    width: 50%;
}

.img-sneaker {
    width: 100%;
}

.box-button {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.box-btn {
    padding: 13px 18px;
    background-color: black;
    color: white;
    font-size: 16px;
    display: inline-block;
}

.content-row {
    /* height: 360px; */
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.row-title {
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 50px;
    border-bottom: 2px solid black;
    font-size: 24px;
    color: black;
}

.row-product {
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-product {
    width: 300px;
    padding: 0 15px 30px;
}

.card-img {
    width: 100%;
}

.card-bot {
    padding: 12px 10px 20px;
    text-align: center;
}

.card-title {
    margin: 2px 0 10px;
    color: black;
}

.card-price {
    color: #c30005;
    margin-bottom: 5px;
}

.card-btn {
    margin-top: 8px;
    background-color: #c30005;
    padding: 11px 26px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    visibility: hidden;
    transition: .5s ease;
    opacity: 0;
}

.card-product:hover .card-btn {
    visibility: visible;
    opacity: 1;
}

.card-btn:hover {
    background-color: #9C0004;
}

.content-banner {
    background-image: url("../img/banner-1.jpg");
    width: 1200px;
    height: 500px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: relative;
    margin-left: 18%;
}

.banner-text {
    width: 840px;
    /* height:210px; */
    color: white;
    position: absolute;
    left: 180px;
    top: 130px;
    text-align: center;
    font-weight: bold;
}

.banner-text h5 {
    margin: 14px 0;
    letter-spacing: 5px;
    font-size: 16px;
}

.banner-text h1 {
    margin: 14px 0 35px;
    font-size: 56px;
}

.banner-text span {
    color: yellow;
}

.banner-text a {
    border: 2px solid white;
    background-color: transparent;
    padding: 10px 18px;
    margin-bottom: 10px;
}

.banner-text a:hover {
    background-color: black;
    border: 2px solid black;
}

.price-default {
    text-decoration: line-through;
    font-size: 16px;
    /* color: gray; */
    opacity: 0.6;
}

.price-sale {
    font-weight: 700;
}

.img-sale {
    position: relative;
}

.sale {
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: #c30005;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: white;
    font-size: 16px;
    left: 10px;
    top: 10px;
}

/* footer */

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 360px;
    background-color: black;
}

.footer-main {
    width: 100%;
    height: 270px;
}

.footer-content {
    width: 1200px;
    height: 270px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    border-bottom: 1px solid silver;
}

.footer .footer-bot {
    width: 1200px;
    /* height: 50px; */
    margin: auto;
}

.footer-content .box {
    height: 240px;
    width: 300px;
}

.footer-content .box .text {
    font-size: 20px;
    color: white;
    margin-bottom: 8px;
}

.footer-divider {
    height: 3px;
    width: 35px;
    margin: 20px 0;
    background-color: #c30005
}

.box .font {
    color: white;
    font-size: 14px;
}

.box .font1 {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.box .font1 p {
    margin-top: 8px;
}

.box .font1:hover {
    color: #c30005;
}

.boxbox {
    height: 30px;
    width: 270px;
    display: flex;
    align-items: center;
    padding-top: 5px;
}